<!-- Loop over each object in the prices array -->
{{#each prices as |price|}}
    <div class='row mb-4 price'>
        {{price.price}}

        {{price.user.name}}

        {{price.station.name}}
    </div>
{{/each}}